name: Reusable SAST Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
  - cron: '0 1 * * 3'   # Wednesday at 01:00 UTC

permissions:
  actions: read
  contents: read
  security-events: write
   
jobs:
  SAST-Scan-semgrep: 
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/10-sast-workflow.yml@v1
    with:
      sast-scan-tool: semgrep 
      # language: python, javascript
      project_dir: ./src
      environment: non-prod
    secrets: 
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

  SAST-Scan-bearer: 
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/10-sast-workflow.yml@v1
    with:
      sast-scan-tool: bearer 
      # language: python, javascript
      project_dir: ./src
      environment: non-prod
    secrets: 
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
      
  SAST-Scan-codeql: 
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/10-sast-workflow.yml@v1
    with:
      sast-scan-tool: codeql 
      # language: python, javascript
      project_dir: ./src
      environment: non-prod
    secrets: 
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
